*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

.categories-container {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #ff966e;
  opacity: 0.95;
  transition: 1s;
}

.categories-container .btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  width: 165px;
  border-radius: 5px;
  box-shadow: 1px 1.5px 1px 1px #9a3900;
  background-color: orangered;
  color: #fff;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 80%;
  height: 70%;
  border: 2px solid orangered;
  padding: 10px 40px;
}

.container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

header span {
  color: orangered;
}

.container .game-info {
  border: 1px solid #af5838;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-info .draw-box {
  width: 50%;
  height: 85%;
  position: relative;
  border-right: 1px solid #eee;
}

.draw-box .p1 {
  width: 150px;
  height: 4px;
  bottom: 20px;
  left: 30px;
}

.draw-box .p1,
.draw-box .p1::after,
.draw-box .p1::before,
.draw-box .p2,
.draw-box .gibbet,
.draw-box .head,
.draw-box .body,
.draw-box .body::before,
.draw-box .body::after,
.draw-box .leg::before,
.draw-box .leg::after,
.draw-box .p3 {
  position: absolute;
  content: "";
  border: 2px solid #111;
}

.draw-box .gibbet,
.draw-box .head,
.draw-box .body,
.draw-box .leg {
  display: none;
}

.draw-box.wrong1 .gibbet {
  display: block;
}
.draw-box.wrong2 .head {
  display: block;
}
.draw-box.wrong3 .body {
  display: block;
}
.draw-box.wrong4 .leg {
  display: block;
}

.draw-box .p1::after {
  width: 120px;
  height: 8px;
  bottom: 190px;
  left: 78px;
}

.draw-box .p1::before {
  width: 8px;
  height: 210px;
  bottom: 0px;
  left: 72px;
}

.draw-box .p2 {
  width: 8px;
  height: 54px;
  bottom: 160px;
  left: 222px;
}

.draw-box .p3 {
  width: 8px;
  height: 60px;
  bottom: 159px;
  left: 131px;
  transform: rotate(45deg);
}

.draw-box .gibbet {
  border-radius: 50%;
  border: dashed;
  width: 60px;
  height: 60px;
  bottom: 100px;
  left: 195px;
}
.draw-box .head {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  bottom: 110px;
  left: 205px;
}

.draw-box .body {
  background: #111;
  border: none;
  width: 3px;
  height: 40px;
  bottom: 70px;
  left: 223px;
}
.draw-box .body::before {
  background: #111;
  border: none;
  width: 3px;
  height: 30px;
  bottom: 11px;
  left: 13px;
  transform: rotate(55deg);
}
.draw-box .body::after {
  background: #111;
  border: none;
  width: 3px;
  height: 30px;
  bottom: 11px;
  left: -13px;
  transform: rotate(-55deg);
}

.draw-box .leg {
  position: relative;
}

.draw-box .leg::after {
  background: #111;
  border: none;
  width: 3px;
  height: 27px;
  bottom: -203px;
  left: 233px;
  transform: rotate(-55deg);
}
.draw-box .leg::before {
  background: #111;
  border: none;
  width: 3px;
  height: 30px;
  bottom: -205px;
  left: 211px;
  transform: rotate(55deg);
}

.game-info .letters-box {
  padding: 20px;
  width: 50%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 13px;
}

.letters-box .letter-box {
  width: 40px;
  height: 40px;
  background-color: orangered;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
}
.letters-box .letter-box.select {
  background-color: #ddd;
  user-select: none;
  pointer-events: none;
}

/* .letters-box .letter-box span {
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
} */

.container .word-letters {
  margin-top: 1.5rem;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.word-letters .alphabet-box {
  width: 30px;
  height: 30px;
  background-color: #ffae90;
  text-align: center;
  border-bottom: 3px solid orangered;
}

.alphabet-box span {
  line-height: 30px;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

.alphabet-box.spacing {
  width: 30px;
  height: 4px;
  background-color: orangered;
}

.game-end {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.game-end .lose,
.game-end .win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  height: 50%;
  opacity: 0.98;
}

.game-end .lose {
  background-color: #6d1818;
}

.lose p,
.win p {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.lose p:first-child,
.win p:first-child {
  letter-spacing: 8px;
}

.lose p span {
  color: #ffa535;
  text-transform: uppercase;
  border-bottom: 2px solid;
}

.lose .try,
.win .try {
  max-height: 22px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1rem;
}

.lose .try:hover,
.win .try:hover {
  color: #ffa535;
  border-bottom: 2px solid;
}

.game-end .win {
  background-color: #006d29;
}
.win p span {
  color: #ffa535;
}

/* -------Count Down Timer------- */
#app {
  position: relative;
  top: 5px;
}
.base-timer {
  position: relative;
  top: -10px;
  width: 40px;
  height: 40px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}
